.container {
  width: 80%;
  margin: 0 auto;
}

.container > .title_container {
  padding: 5rem;
}

.container > .title_container > * {
  margin-bottom: 2rem;
}

.nav_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
